@model List<LivroModel>
@{
    ViewData["Title"] = "Listagem de livros";
}
<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" rule="button" asp-controller="Livro" asp-action="Criar">Adicionar novo Livro</a>
    </div> 
    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MensagemSucesso"]
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MensagemErro"]
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        </div>
    }

    <br/>

    <h1 class="display-4">Listagem de livros</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Editora</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (LivroModel livro in Model)
                {
                    <tr>
                        <th scope="row">@livro.Id</th>
                        <td>@livro.Titulo</td>
                        <td>@livro.Autor</td>
                        <td>@livro.Editora</td>
                        <td>
                            <a class="btn btn-primary" rule="button" asp-controller="Livro" asp-action="Editar" asp-route-id="@livro.Id">Editar</a>
                            <a class="btn btn-danger" rule="button" asp-controller="Livro" asp-action="ExcluirConfirmacao" asp-route-id="@livro.Id">Excluir</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
